@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right,#90BEDE,#124559);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #3f332da2;
    width: 600px;
    padding: 15px;
    margin: auto;
}

h1 {
    color: #124559;
    text-align: center;
    text-shadow: 1px 1px 2px #1245599f;
}

h2 {
    color: #F06449;
}

p {
    text-align: justify;
    color: #124559;
}